@import '../../styles/variables/variables';

.footer {
    width: 100%;
    height: 60px;
    background-color: $nav-color;
    box-shadow: 0px -1px 2px $primary-text-color;
    display: flex;
    align-items: center;
    padding: 0 40px;
    position: absolute;
    bottom: 0;
}

.footer-container-inner{
    display: flex;
align-items: center;
}

.footer-link {
    color: $secondary-color;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8em;
    margin-left: 20px;
    margin-right: 20px;

    &:hover{
        color: white;
    }
}


@media (max-width:768px) {
    .footer-link{
        margin-left: 10px;
        margin-right: 10px;
    }
}