@import '../src//styles/variables/variables';
@import '../src//styles//mixins/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.App {
    height: 100vh;
}

main {
    position: relative;
    padding-top: 80px;
}


@media (min-width:2000px) {
    body{
        font-size: 24px;
    }
}



@media (max-width:1600px) {
    body{
        font-size: 20px;
    }
}




@media (max-width:950px) {
    body{
        font-size: 18px;
    }
}

