.catalog {
  padding: 0 50px;
  display: grid;
  margin-top: 50px;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: auto;
  gap: 40px;
  justify-content: center;
  padding-bottom: 160px;
}
.catalog .image-container {
  position: relative;
}
.catalog .image-container span {
  font-size: 1.2em;
  font-weight: 500;
  position: absolute;
  bottom: -60px;
  height: 50px;
  left: 0;
  right: 0;
  padding: 10px;
}
.catalog p {
  font-size: 0.8em;
}

.card-image {
  height: 250px;
  width: 210px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.card {
  width: 250px;
  height: auto;
  border: 2px solid #7d86c8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card .button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}
.card .card-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 10px;
}
.card .card-btn {
  color: white;
  background-color: #7d86c8;
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  height: 50px;
}
.card .card-btn:hover {
  background-color: #6a76c0;
}
.card div {
  width: 250px;
}
.card .description-container {
  position: relative;
  height: 80px;
  margin-top: 100px;
  padding-top: 40px;
}
.card .description-container span {
  font-size: 0.9em;
  cursor: pointer;
  font-weight: 400;
}
.card .description-container span:hover {
  color: #7d86c8;
}
.card .description-popup {
  opacity: 0.9;
  background-color: #23282D;
  color: white;
  padding: 10px;
  justify-content: center;
  position: absolute;
  border-radius: 20px;
  z-index: 3;
  left: 20px;
  top: -70px;
  cursor: text;
}
.card .description-popup p {
  max-height: 100px;
  overflow-y: scroll;
  padding: 0 10px;
  text-align: start;
}
.card .description-popup p::-webkit-scrollbar {
  width: 5px;
}
.card .description-popup p::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
.card .description-popup p::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.card .description-popup p::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
}
.card .categories-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  position: relative;
  align-items: center;
}
.card .categories-container .categories-popup {
  flex-direction: column;
  opacity: 0.9;
  background-color: #23282D;
  padding: 10px;
  justify-content: center;
  position: absolute;
  border-radius: 20px;
  z-index: 3;
  left: 20px;
  top: 30px;
  cursor: text;
}
.card .categories-container span {
  font-size: 0.9em;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 0;
  width: -moz-fit-content;
  width: fit-content;
}
.card .categories-container span:hover {
  color: #7d86c8;
}
.card .categories-container a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  margin-top: 5px;
}
.card .categories-container a:hover {
  color: #7d86c8;
}

.hidden {
  display: none;
}

.sort-filter-container {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 50px;
  margin-top: 50px;
}

.dropdown-sort {
  margin-right: 40px;
}

.form-check-label {
  margin-left: 10px;
}

.form-check-input:checked {
  background-color: #7d86c8;
  border-color: #7d86c8;
}

.filter-btn {
  background-color: white;
}

.dropdown-menu {
  padding: 10px;
  z-index: 1;
}

.filters-action-btn {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  background-color: #7d86c8;
  border-radius: 20px;
  border: none;
  font-size: 0.8em;
  margin-top: 20px;
}
.filters-action-btn:hover {
  background-color: #6a76c0;
}

#filter-reset-btn {
  margin-top: 10px;
}

@media (max-width: 1600px) {
  .catalog {
    grid-template-columns: 250px 250px 250px 250px;
  }
}
@media (max-width: 1300px) {
  .catalog {
    grid-template-columns: 250px 250px 250px;
  }
}
@media (max-width: 950px) {
  .catalog {
    grid-template-columns: 250px 250px;
  }
}
@media (max-width: 950px) {
  .catalog {
    padding-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .catalog {
    grid-template-columns: 300px;
  }
  .card-image {
    height: 300px;
    width: 260px;
    border-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card {
    width: 300px;
  }
  .card div {
    width: 300px;
  }
  .card .description-container {
    margin-top: 50px;
  }
  .card .categories-container {
    height: 80px;
  }
}
@media (max-width: 450px) {
  .catalog {
    grid-template-columns: 250px;
  }
  .card-image {
    height: 250px;
    width: 210px;
    border-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card {
    width: 250px;
  }
  .card div {
    width: 250px;
  }
  .card .description-container {
    margin-top: 40px;
  }
  .sort-filter-container {
    margin-left: auto;
    margin-right: auto;
  }
  .dropdown-sort {
    margin-right: 20px;
  }
}/*# sourceMappingURL=catalog.css.map */